<!-- Footer
============================================= -->
<footer id="" class='footer dark' style='margin-top: 0px !important'>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        &copy; 2018 All Rights Reserved by Joseph Edgerton Krause
      </div>
      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.instagram.com/krausejoseph/" class="social-icon si-small si-borderless si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>
          <a href="#" class="social-icon si-small si-borderless si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>
        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i> info@jekart.com
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
<script src="/build/vendor.min.js"></script>
