<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/build/css/style.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116830212-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116830212-2');
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
	<title>{{title}}</title>
</head>
