<div class="col-lg-6 py-3">
  <form action="/stripe" method="POST">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_we5yiehWWU4eB6tENaAFf2XV"
    data-amount="{{stripeTotal}}"
    data-name="Joseph Edgerton Krause"
    data-image="/checkoutlogo.png"
    data-locale="auto"
    data-billing-address="true"
    data-shipping-address="{{shipping}}">

    </script>
    <script>
      // hide default stripe button
      document.getElementsByClassName('stripe-button-el')[0].style.display ="none"
      var child = document.getElementsByClassName('stripe-button-el')[0].childNodes;
      child[0].style.display = 'none';
    </script>
    <button type="submit" class="button shop-item-add-to-cart custom-shadow">Pay with card</button><br />
    <img class="m-1" height="25px"src="/stripe.png" />
  </form>
</div>
