<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->

	<div id="wrapper" class="clearfix">

    {{> nav }}
    <div id="page-menu" class="no-sticky" style="background: #1b1b1b">
      <div id="" class='custom-page-banner'style="position: fixed; width: 100%;">
        <div class="container clearfix">
          <div style="padding-left: 10px;"class="menu-title" style='width: 100%'><a href='/shop'>shop </a><img style="margin:5px;" src="/images/icons/submenu.png"><span>cart</span></div>
          <a href=""><i class="icon-shopping-cart right custom-cart"></i></a>
        </div>
      </div>
    </div>

    <section style="min-height: 80vh" id="content">

			<div class="content-wrap">

				<div class="container clearfix">
					<form action="/shop/checkout" method="POST">
					<div id="cart-table" class="table-responsive">
						<table class="table cart shop-container">
							<h4>Your orders</h4>
							<thead>
								<tr>
									<th class="cart-product-remove">&nbsp;</th>
									<th class="cart-product-thumbnail">&nbsp;</th>
									<th class="cart-product-name">Product</th>
									<th class="cart-product-framed">Framed</th>
									<th class="cart-product-price">Price</th>
									<th class="cart-product-quantity">Quantity</th>
									<th class="cart-product-subtotal">Total</th>
								</tr>
							</thead>
							<tbody id="cart-list">
								{{#cart}}
									<tr class="cart_item" id={{id}}>
									<td class="cart-product-remove">
										<a id="remove-{{id}}"class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
									</td>

									<td class="cart-product">
										<img class="custom-thumb" src="/art_imgs/prints/{{image}}" alt="{{name}}">
									</td>

									<td class="cart-product-name">
										<a href="#">{{name}}</a>
									</td>
									<td class="cart-product-framed">
										<div class="switch">
											<input id="framed-{{id}}" class="switch-toggle switch-rounded-mini switch-toggle-round edit" type="checkbox" {{framed}}>
											<label for="framed-{{id}}"></label>
										</div>
									</td>
									<td class="cart-product-price">
										<span class="amount">${{price}}</span>
									</td>

									<td class="cart-product-quantity">
										<div class="quantity clearfix">
											<input id="minus-{{id}}"type="button" value="-" class="minus edit">
	                    <input id="qty-{{id}}" type="text" step="1" min="1"  name="quantity" value="{{qty}}" title="Qty" class="qty" size="3" readonly/>
	                    <input id="plus-{{id}}"type="button" value="+" class="plus edit">
										</div>
									</td>

									<td class="cart-product-subtotal">
										<span class="amount">${{total}}</span>
									</td>
								</tr>
								{{/cart}}
							</tbody>

						</table>
						<button id="update-cart" class="button shop-item-add-to-cart m-4 custom-shadow" disabled>update cart</button>
						<div class="table-responsive">
							<table class="table cart">
								<h4>Shipping options</h4>
							<tbody>
								<tr class="">
									<td class="standard-shipping">
										<p>A description of the standard shipping costs</p>
										<div>
											<input id="radio-1" class="radio-style" name="radio-group-1" type="radio" value="delivery" checked>
											<label for="radio-1" class="radio-style-1-label">standard shipping</label>
										</div>
									</td>
									<td class="local-pickup">
										<p>A description of how and where to pick stuff up</p>
										<div>
											<input id="radio-2" class="radio-style" name="radio-group-1" value="pickup" type="radio">
											<label for="radio-2" class="radio-style-1-label">Local pickup</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

						<!-- // make this submit a form that handles the local/delivery radiobutton -->
						<input type="submit" id="checkout" value="checkout" class="button shop-item-add-to-cart m-4 custom-shadow"/>
						</div>
						</form>
					</div>



				</div>

			</div>

		</section><!-- #content end -->


    {{> footer }}
		<script>

		// jQuery(".bt-switch").bootstrapSwitch();

	</script>
	</div>
  </body>
  </html>
