<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->

	<div id="wrapper" class="clearfix">

    {{> nav }}
    <div id="page-menu" class="no-sticky" style="background: #1b1b1b">
      <div id="" class='custom-page-banner'style="position: fixed; width: 100%;">
        <div class="container clearfix">
          <div style="padding-left: 10px;"class="menu-title" style='width: 100%'><a href='/shop'>shop </a><img style="margin:5px;" src="/images/icons/submenu.png"><span>cart</span></div>
          <a href=""><i class="icon-shopping-cart right custom-cart"></i></a>
        </div>
      </div>
    </div>

    <section style="min-height: 80vh" id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="table-responsive">
						<table class="table cart shop-container">
							<thead>
								<tr>
									<th class="cart-product-remove">&nbsp;</th>
									<th class="cart-product-thumbnail">&nbsp;</th>
									<th class="cart-product-name">Product</th>
									<th class="cart-product-price">Price</th>
									<th class="cart-product-quantity">Quantity</th>
									<th class="cart-product-subtotal">Total</th>
								</tr>
							</thead>
							<tbody>
								{{#items}}
								<tr class="cart_item">
									<td class="cart-product-remove">
										<a href="#" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
									</td>

									<td class="cart-product-thumbnail">
										<a href="#"><img width="64" height="64" src="./art_imgs/prints/{{image}}" alt="{{name}}"></a>
									</td>

									<td class="cart-product-name">
										<a href="#">{{name}}</a>
									</td>

									<td class="cart-product-price">
										<span class="amount">{{subtotal}}</span>
									</td>

									<td class="cart-product-quantity">
										<div class="quantity clearfix">
											<input type="button" value="-" class="minus">
											<input type="text" name="quantity" value="2" class="qty" />
											<input type="button" value="+" class="plus">
										</div>
									</td>
									<td class="cart-product-subtotal">
										<span class="amount">{{total}}</span>
									</td>
								</tr>
								{{/items}}

								<tr class="cart_item">
									<td colspan="6">
									</td>
								</tr>
							</tbody>

						</table>
						<button href="/shop/checkout" class="button shop-item-add-to-cart m-4 custom-shadow">Checkout</button>
						</div>
					</div>



				</div>

			</div>

		</section><!-- #content end -->


    {{> footer }}
	</div>
  </body>
  </html>
