<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div id="wrapper" class="clearfix">
    {{> nav }}
		<section id="content">
			<div class="content-wrap custom-background">
        <div class="container clearfix">
					<div class="col_half nobottommargin">
						<div class="error404 center">404</div>
            <div class="heading-block nobottomborder">
							<h4 style='color:white'>I don't know what you're looking for</h4>
						</div>
					</div>
					<div class="col_half nobottommargin col_last">
					</div>
				</div>
			</div>
		</section>
    {{> footer }}
	</div>
  </body>
  </html>
