<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div class='fadeToBlack'>
	</div>
	<div id="wrapper" class="clearfix">
    {{> nav }}
    <section id="content">
      <div class="content-wrap">
        <div id="events" class="single-event header-stick footer-stick clearfix">

          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/zspotevent.jpg');  background-color: #ddd;height:100vh" data-bottom-top="background-position:100px 400px;" data-top-bottom="background-position:100px 0px;">
            <div class="entry-overlay-meta" style="bottom: 48%; right: 300px">
              <h2 style="color:white;font-size:15px"><a href="https://zspotevents.com " target="_blank">The Z Spot</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3" ></i> <strong>Date:</strong><span> July, 15th, 2018</span></li>
                <!-- <li><i class="icon-time"></i> <strong>Time:</strong></li> -->
                <li><a href="https://www.google.com/maps/place/Harrah" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> Harrah's Casion, Chester, PA</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>

          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/fcfair.jpg');  background-color: #ddd;height:100vh" data-bottom-top="background-position:100px 400px;" data-top-bottom="background-position:100px 0px;">
            <div class="entry-overlay-meta" style="bottom: 48%; right: 300px">
              <h2 style="color:white;font-size:15px"><a href="https://www.pacrafts.org/fine-craft-fairs/fine-craft-fair-summer-chase-center-on-the-riverfront" target="_blank">Pennsylvania Guild Fine Craft Fair</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3" ></i> <strong>Date:</strong><span> July 28th & 29th, 2018</span></li>
                <li><i class="icon-time"></i> <strong>Time:</strong>Sat. 10:00am - 6:00pm & Sun. 10Aam - 5:00pm</li>
                <li><a href="alendar.google.com/calendar/render?pli=1#main_7%7Cweek-2+23594+23600+23596" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> 1301 N Beach Street, Philadelphia, PA</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>

          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/nolibs.jpg');  background-color: #ddd;height:100vh" data-bottom-top="background-position:100px 400px;" data-top-bottom="background-position:100px 0px;">
            <div class="entry-overlay-meta" style="bottom: 48%; right: 300px">
              <h2 style="color:white;font-size:15px"><a href="http://www.2ndstfestival.org/" target="_blank">2nd Street Festival</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3" ></i> <strong>Date:</strong><span> August 5th, 2018</span></li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 12:00pm - 10:00pm</li>
                <li><a href="https://www.google.com/maps/place/Northern+Liberties,+Philadelphia,+PA+19123/@39.9633406,-75.144627,16z/data=!3m1!4b1!4m5!3m4!1s0x89c6c867cf8fdbeb:0x9368d635a45c3e88!8m2!3d39.9636917!4d-75.1399443" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> 600-1100 blocks of N 2nd Street, Philadelphia, PA 1912</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>


          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/penntreaty.jpeg');  background-color: #ddd;height:100vh" data-bottom-top="background-position:100px 400px;" data-top-bottom="background-position:100px 0px;">
            <div class="entry-overlay-meta" style="bottom: 48%; right: 300px">
              <h2 style="color:white;font-size:15px"><a href="http://penntreatypark.org/2011/05/12/flea-market-at-penn-treaty-park/" target="_blank">Penn Treaty Flea Market</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3" ></i> <strong>Date:</strong><span style="text-decoration: line-through">June 2nd, 2018</span></li>
                <li style="color: red">THIS EVENT HAS BEEN MOVED TO JUNE 3rd!</li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 10:00am - 3:00pm</li>
                <li><a href="https://www.google.com/search?rlz=1C1CHBF_enUS710US710&tbm=lcl&ei=BbkSW5SvCIbX8APA3afoBg&q=1301+n+beach+st&oq=1301+n+beach+st&gs_l=psy-ab.3..38j0i22i30k1l4.43460.46551.0.46818.15.14.0.0.0.0.236.1659.0j8j2.10.0..2..0...1c.1.64.psy-ab..5.10.1655...0j35i39k1j0i131k1j0i20i264k1j0i67k1.0.mtPaNw0ClCE#rlfi=hd:;si:;mv:!1m3!1d204.05822397158025!2d-75.1284795!3d39.9662739!2m3!1f0!2f0!3f0!3m2!1i1500!2i820!4f13.1" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> 1301 N Beach Street, Philadelphia, PA</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>
          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/gtownespresso.jpg'); height:100vh" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="entry-overlay-meta" style="bottom: 250px;right: 200px">
              <h2 style="color:white;font-size:15px"><a href="https://www.germantownespressobar.com/" target="_blank">Now Showing @ Germantown Espresso Bar</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3"></i> <strong>Date:</strong> Now until sometime in the future</li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 7:00am - 7:00pm</li>
                <li><a href="https://goo.gl/maps/5Edpwpg6yCQ2" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> Germantown, Philadelphia</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>
					<div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/kinetic.png');  background-color: #fc2e58;height:100vh" data-bottom-top="background-position:100px 400px;" data-top-bottom="background-position:100px 0px;">
            <div class="entry-overlay-meta" style="bottom: 48%; right: 300px">
              <h2 style="color:white;font-size:15px"><a href="http://kensingtonkineticarts.org/" target="_blank">Kensington Kinetic Derby and Arts Festival</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3"></i> <strong>Date:</strong> May 19, 2018</li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 12:00pm - 6:00pm</li>
                <li><a href="https://goo.gl/maps/zSPTmj4hJYA2" target="_blank"><i class="icon-map-marker2"></i> <strong>Location:</strong> Trenton Ave, from Norris to Hagert</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{> footer }}
	</div>
  </body>
  </html>
