<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div class='fadeToBlack'>
	</div>
	<div id="wrapper" class="clearfix">
    {{> nav }}
    <section id="content" style="background: #f9f9f9">
      <div class="content-wrap">
        <div id="events" class="single-event header-stick footer-stick clearfix">
					<div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/gtownespresso.jpg'); height:100vh" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="entry-overlay-meta" style="bottom: 250px;right: 200px">
              <h2 style="color:white;font-size:15px"><a href="https://www.germantownespressobar.com/">Currently Showing @ Germantown Espresso Bar</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3"></i> <strong>Date:</strong>Currently until an undetermined date</li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 7:00am - 7:00pm</li>
                <li><a href="https://goo.gl/maps/5Edpwpg6yCQ2"><i class="icon-map-marker2"></i> <strong>Location:</strong> Germantown, Philadelphia</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>
          <div class="event entry-image parallax nobottommargin" style="background-image: url('art_imgs/events/gtownespresso.jpg'); height:100vh" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="entry-overlay-meta" style="bottom: 250px;right: 200px">
              <h2 style="color:white;font-size:15px"><a href="https://www.germantownespressobar.com/">Now Showing @ Germantown Espresso Bar</a></h2>
              <ul class="iconlist">
                <li><i class="icon-calendar3"></i> <strong>Date:</strong> Now until sometime in the future</li>
                <li><i class="icon-time"></i> <strong>Time:</strong> 7:00am - 7:00pm</li>
                <li><a href="https://goo.gl/maps/5Edpwpg6yCQ2"><i class="icon-map-marker2"></i> <strong>Location:</strong> Germantown, Philadelphia</a></li>
                <li><i class="icon-dollar"></i> <strong>Free</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{> footer }}
	</div>
  </body>
  </html>
