<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head }}
<body class="stretched">
	<div id="wrapper" class="clearfix" style>
		{{>nav }}
		<div class="custom-image-background" style="background: url('/art_imgs/{{gallery}}/background/{{imagePath}}');"></div>
		<div class="row">
			<div id="page-menu" class="no-sticky">
				<div class='custom-page-banner'>
					<div class="container clearfix">
						<div class="menu-title"><a href="/galleries">galleries</a>
							<img src='/images/icons/submenu.png' /><a href="/gallery/{{gallery}}">{{gallery}}</a>
							<img src='/images/icons/submenu.png' /> <span> {{title}} </span></div>
					</div>
				</div>
			</div>
		</div>
		<section id="content" class="single-image">
		  <div class="content-wrap">
		    <div class="container clearfix">
		      <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">
		        <article class="portfolio-item pf-media pf-icons clearfix noborder">
		          <div class="portfolio-image">
		              <a href='/art_imgs/{{gallery}}/{{imagePath}}'><img src="/art_imgs/{{gallery}}/{{imagePath}}" alt="{{name}}"></a>
		          </div>
		          <div class="portfolio-desc text-light">
								<div class="text-light">
									<h3 class="text-light text-capitalize">{{title}}</h3>
									<p>{{description}}</p>
									<p>{{dimensions}}</p>
								</div>
		          </div>
							<div class="portfolio-desc ">
								<p class="custom-sales-box">
									<a id="opaque" href="/contact"><strong>Contact me</strong></a>
									if you're interested in purchasing originals.
								</p>
							</div>
		        </article>
		      </div>
		    </div>
		  </div>
			<div id="gotoTop" class="icon-angle-up"></div>
		</section>
	</div>
	{{> footer}}
</body>
</html>
