<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div id="wrapper" class="clearfix">
    {{> nav }}
		<div class="clear"></div>
		<section id="slideshow">
		 <div style="background-image: url('/art_imgs/slideshow/healthcarethegame.png')"></div>
		</section>
	</div>
	<footer id="footer" class='dark noborder'>
		<div id="copyrights">
			<div class="container clearfix">
				<div class="col_half">
					Copyrights &copy; 2018 All Rights Reserved by Joseph Edgerton Krause
				</div>
				<div class="col_half col_last tright">
					<div class="fright clearfix">
						<a href="#" class="social-icon si-small si-borderless si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="#" class="social-icon si-small si-borderless si-vimeo">
							<i class="icon-vimeo"></i>
							<i class="icon-vimeo"></i>
						</a>
					</div>
					<div class="clear"></div>
					<i class="icon-envelope2"></i> info@jekart.com
				</div>
			</div>
		</div>
	</footer>
	<script src='/js/jquery.js'></script>
	<script src='/js/plugins.js'></script>
	<script src='/js/functions.js'></script>
	<script src='/js/slideshow.js'></script>
	<script src='/js/shop.js'></script>
	<!-- <script src="/build/vendor.min.js"></script> -->
</body>
</html>
