<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div id="wrapper" class="clearfix">
    {{> nav }}
		<section id="content">
			<div class="content-wrap custom-background">
				<div class="container clearfix">
					<div class="clear"></div>
				<div id="galleries" class="flex-container confirmation">
					<h1 class="text-light">Your order has been processed.</h1><br />
					<p class="text-light">please check your inbox for a confirmation email.</p>
				</div>
				</div>
			</div>
		</section>
    {{> footer }}
	</div>
  </body>
  </html>
