<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{> nav }}
		<div id="page-menu" class="no-sticky">
			<div id="" class='custom-page-banner'>
				<div class="container clearfix">
					<div class="menu-title"><span>shop</span></div>
					{{> cartIcon}}
				</div>
			</div>
		</div>
    <section id="" class="plain-background">
			<div class="content-wrap" style="overflow-x: visible">
				<span id="cartAdded" class="custom-shadow"></span>
				<div class="container clearfix">

					<!-- Shop
					============================================= -->
					<div id="shop" class="shop grid-container clearfix" data-layout="fitRows">
					{{#prints}}
						<div class="product clearfix text-center">
							<div class="product-image custom-print-img">
								<a href="/shop/{{name}}"><img src="/art_imgs/prints/{{image1}}" alt="{{name}}"></a>
								<!-- <a href="/shop-item/{{name}}"><img src="/art_imgs/prints/{{image2}}" alt="{{name}}"></a> -->
								<div class="product-overlay">
									<button id="{{id}}" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></button>
								</div>
							</div>
							<div class="product-desc text-center" style="padding-top: 10px">
								<div class="product-title" style="margin:0"><h3><a href="#">"{{name}}" print</a></h3></div>
								<span class="product-price" style="font-size: 17px">${{price1}}</span>
							</div>
						</div>
					{{/prints}}
					</div><!-- #shop end -->
				</div>
			</div>
			<div id="gotoTop" class="icon-angle-up"></div>
		</section><!-- #content end -->

    {{> footer }}
	</div><!-- #wrapper end -->
  </body>
  </html>
