<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}
<body class="stretched">
	<div id="wrapper" class="clearfix">
    {{> nav }}
		<div id="page-menu" class="no-sticky">
			<div class='custom-page-banner'>
				<div class="container clearfix">
					<div class="menu-title"><a href="/shop">shop</a>
						<img src="/images/icons/submenu.png" /><span>{{name}}</span>
					</div>
					{{> cartIcon}}
			 </div>
			</div>
		</div>
    <section id="content" class="plain-background">
      <div class="content-wrap">
				<span id="cartAdded" class="custom-shadow"></span>
        <div class="container clearfix">
          <div class="single-product">
            <div class="product">
              <div class="col_two_fifth">
                <div class="product-image">
                  <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                    <div class="flexslider">
                      <div class="slider-wrap" data-lightbox="gallery">
												{{#images}}
                        	<div class="slide" data-thumb="/art_imgs/prints/{{.}}"><a href="/art_imgs/prints/{{.}}" title="{{name}}" data-lightbox="gallery-item"><img  class="cover-border" src="/art_imgs/prints/{{.}}" alt={{name}}></a></div>
												{{/images}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col_two_fifth product-desc">
								<h2>{{name}}</h2>
                <div id="main-price"class="product-price text-dark">${{price1}}</div></br>
								<div class="discount-price mt-3 text-dark">$5 discount for local pickup</div>
                <div class="clear"></div>
                <div class="line"></div>
								<div class="row">
									<div class="quantity custom-shadow clearfix">
										<input id="minus-{{id}}"type="button" value="-" class="minus">
										<input id="qty-{{id}}" type="text" step="1" min="1"  name="quantity" value="1" title="Qty" class="qty" size="3" readonly/>
										<input id="plus-{{id}}"type="button" value="+" class="plus">
									</div>
								</div>
								<div class="row">
									<div class="my-3">
										<h4>Framed <span id="framed-price" class="text-dark">+ ${{framedPrice}}</span><span>
											<div class="switch">
												<input id="switch-toggle-2" class="switch-toggle switch-toggle-round framed" type="checkbox">
												<label for="switch-toggle-2"></label>
											</div>
										</span></h4>
									</div>
								</div>
								<div class="row">
									<div class="clearfix">
										<button id={{id}} class="button custom-shadow add-to-cart shop-item-add-to-cart ">Add to cart</button>
									</div>
								</div>
								<div class="row">
									<div class="clearfix">
										<a id="checkout" href="/shop/cart" class="button custom-shadow shop-item-add-to-cart">checkout</a>
									</div>
								</div>
                <div class="clear"></div>
                <div class="line"></div>
                <ul class="iconlist">
                  <li><i class="icon-caret-right"></i>{{description}}</li>
                  <li><i class="icon-caret-right"></i>{{dimensions}} inches</li>
									<li><i class="icon-caret-right"></i>Frames: 12 3/8" x 18 3/8" flat black aluminum frame with 3/8" wide by 7/8" tall sides and a styrene cover with a cardboard backing</li>
                </ul>
              </div>
              <div class="col_one_fifth col_last">
                <div class="divider divider-center"><i class="icon-circle-blank"></i></div>
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-credit-cards"></i>
                  </div>
                  <h3>Payment Options</h3>
                  <p class="notopmargin">All major credit cards accepted</p>
                </div>
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-truck2"></i>
                  </div>
                  <h3>Free Shipping</h3>
                  <p class="notopmargin">Free shipping for all orders to the continental United states.
									</p>
                </div>
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-money"></i>
                  </div>
                  <h3>Discounts</h3>
                  <p class="notopmargin">$5 discount on unframed prints for local pickup</p>
									<p class="notopmargin">$15 discount on framed prints for local pickup</p>
                </div>
								<div class="divider divider-center"><i class="icon-circle-blank"></i></div>
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <!-- <i class="icon-credit-cards"></i> -->
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{> footer }}
		<script>

		// jQuery(".bt-switch").bootstrapSwitch();

	</script>
	</div>
  </body>
  </html>
