<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{> nav }}
    <div id="page-menu" class="no-sticky">
      <div class='custom-page-banner'>
        <div class="container clearfix">
          <div style="padding-left: 10px;"class="menu-title"><span>statement</span></div>
      	</div>
    	</div>
		</div>
		<div class="clear"></div>
		<!-- Content
		============================================= -->
		<section id="content" style="z-index: 2;">

			<div class="content-wrap nopadding">

				<div class="section flex-center parallax full-screen nomargin noborder cover" style="background-image: url('/art_imgs/background/main1.png');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="container  clearfix">
						<h1 class='custom-text h1 t700' data-animate="fadeInUp">Limitations define the process of making something. Materials can only be cut up so many times until they become dust and there are only so
            many tools available. Materials change as they are used, losing pieces or
            getting worn out.</h1>
					</div>
				</div>
				<div class="section flex-center parallax full-screen nomargin noborder cover" style="background-image: url('/art_imgs/background/nobody.png');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class='container clearfix'>
						<h1 class='custom-text right h1 t700' data-animate="fadeInUp">As things degrade and spill, these mistakes can always
           be cut out or covered up. However, there’s a choice between destroying
            and finding value in a unique aspect of whatever happened. Something
            experienced as a limitation becomes an inspiration rather than a deterrent.</h1>
					</div>
				</div>
				<div class="clear"></div>
				<div class="section flex-center parallax full-screen nomargin noborder cover" style="background-image: url('/art_imgs/background/ds2a.png');"  data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class='container clearfix'>
						<h1 class='custom-text h1 t700' data-animate="fadeInUp">What around you is unused?
							What is undesirable and can be torn apart into
            more interesting pieces? Scraps of wood or ink spills hold the value of
            being something you wouldn’t intentionally create.</h1>
					</div>
				</div>
				<div class="section flex-center parallax dark nomargin noborder cover" style="padding: 150px 0; background-image: url('/art_imgs/background/resinman.png');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="container clearfix">
						<h1 class='custom-text h1 t700 right' data-animate="fadeInUp">Trying not to
						hold tightly onto a preconceived notion of what is expected of your
						materials can be a useful tool.</h1>
					</div>
				</div>
			</div>
		</section>
    {{> footer }}
	</div>
</body>
</html>
