/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* *{border: 1px solid red;} */
a {
  text-decoration: none !important;
  color: inherit !important;
}
/* nav */
.custom-theme-1{
  color: white !important;
  background-color: #292929 !important;
  font-size: 10px;
  padding: 5px 160px 5px 160px !important;
}

.black-text{
  color: black !important;
}

.custom-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.custom-header{
  background-color: #292929 !important;
  box-shadow: 2px 2px 2px 2px #1b1b1b;
}

.custom-title{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Megrim' !important;
  /* max-width: 400px; */
  margin-right: 0 !important;
  transition: .2s;
}

.custom-menu-trigger{
  left: auto !important;
  right: 0 !important;
}
.custom-menu-item{
    color: white !important;
    opacity: 1 !important;
}

.custom-mobile-logo{
  box-sizing: content-box;
  height: 40px !important;
  width: 60px !important;
  margin-top: 30px;
  margin-left: -20px;
}

.custom-current{
  color: #717171 !important;
}

.custom-menu-item:hover{
  color: #717171 !important;
}
.custom-sub-menu-item{
  color: white !important;
}
.custom-sub-menu-item:hover{
  color: #717171 !important;
  background-color: black !important;
}
.sub-menu-item-container{
  background-color: black!important;
}
.custom-sub-menu{
  background-color: black !important;
  border: 0 !important;
}

.custom-page-banner{
  background: #1b1b1b!important;
  text-transform: uppercase;
  font-size: 10px !important;
  letter-spacing: .08em;
}

.menu-title{
  font-size: 15px !important;
}

 /* SLIDESHOW */
 #slideshow {
  width: 100%;
  height: 100%;
}

#slideshow > div {
  position: absolute;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-center{
  display: flex;
  align-items: center;
}

.cover{
  background-size: cover;
  height: 70vh !important;
}

.custom-text{
  font-weight: 900 !important;
  font-size: 40px !important;
  width: 800px;
  transition: .2s;
}

.custom-block-text{
  max-width: 1150px;
  margin: auto;
  color: white !important;
  font-size: 17px !important;
}

.right{
  float: right;
  text-align: right;
  width: 800px;
}

.custom-fixed{
  position: fixed;
}

/*  GALLERies */
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery{
  position: relative;
  height: 300px;
  margin: 0 15px 15px 15px;
}

.custom-background{
  background: url('/art_imgs/background/main1.png');
  background-attachment: fixed;
  min-height: 80vh;
}

.plain-background{
  background-color: #fafafa !important;
}
.gallery-image{
  height: 300px;
}

.degradation-image{
  margin: 10px;
  height: 300px;
}

.gallery-description{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  transition: .2s ease-in-out;
}
.gallery-title{
  opacity: 1;
}
.gallery-description:hover{
  opacity: .8;
}

.details{
  display: none !important;
}

.process-img{
  max-height: 82vh !important;
  width: auto !important;
  margin: auto !important;
}

.custom-image-title{
  color: white !important;
  opacity: 0;
  transition: .2s;
}

.custom-hover:hover .custom-image-title{
  opacity: 1;
}

.footer{
  background-color: #292929;
}

#gotoTop:hover{
  background-color: black!important;
}

.custom-shop-banner{
  padding-top: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
}

.custom-sales-box{
  font-size: 20px !important;
  line-height: 1.2 !important;
  padding: 15px !important;
  box-sizing: border-box !important;
  background: rgba(50, 50, 50, 0.7);
  color: white !important
}

.custom-desc{
  background: rgba(85,85,85, 0.7) !important;
}

#opaque{
  opacity: 1 !important;
}

.custom-shop-banner > h2 {
  font-size: 22px !important;
  margin: 0;
}

.add-to-cart{
  cursor: pointer;
  width: 100% !important;
  border: none !important;
  transition: .2s ease-in-out;
}

.add-to-cart:hover{
  color: white !important;
  background-color: black !important;
}

.shop-item-add-to-cart{
  width: auto !important;
  border-radius: 3px;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  color: white !important;
  background-color: #292929 !important;
}
.shop-item-add-to-cart:hover{
  background-color: black !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:disabled,
button[disabled]{
  background: #666 !important;
  color: #999 !important;
}
button:disabled:hover,
button[disbaled]:hover{
  background: #666 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}


.custom-cart{
  color: white;
  font-size: 30px !important;
}

#cartAdded{
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 2000;
  border-radius: 50%;
  padding: 10px;
  color: black;
  background-color: white;
  font-size: 20px;
  width: auto;
  opacity: 0;
}

.small-text{
  font-size: 15px;
}
.custom-print-img{
  /* margin: 30px !important; */
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
}

/* hack to get rid of border around individual product images
canvass is dynamically creating it and this is easier than altering
their functions.js */
.cover-border{
  border: 2px solid #fafafa !important;
}

input[type=checkbox]{
  visibility: hidden
}

.shop-container{
  border: 1px solid #ddd;
  background: #f8f8f8;
}

.custom-checkbox{
	width: 25px;
	height: 25px;
	background: #ddd;
	margin: 20px 90px;
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px #333;
}

#cart-table{
  /* min-height: 300px !important; */
}
.custom-thumb{
  height: 10% !important;
}

.custom-checkbox label {
	display: block;
	width: 21px;
	height: 21px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;

	background: #efefef;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.custom-checkbox input[type=checkbox]:checked + label {
	background: #333;
}

.framed{
  font-size: 19px;
  margin-left: -75px
}
/* ADMIN PAGE */
.adminTable{
  padding: 0!important;
  width: 50px;
}
@media screen and (max-width: 1300px){
  .custom-title{
    font-size: 20px;
  }
}

@media screen and (max-width: 991px){
  .custom-sub-menu-item{
    color: white !important;
  }
  .custom-sub-menu-item:hover{
    background-color: #292929 !important;
  }
  .sub-menu-item-container{
    background-color: #292929 !important;
  }
  .custom-text{
    margin-top: 0 !important;
    font-size: 35px !important;
    width: 95%;
  }
  .custom-block-text{
    margin: 0 !important;
  }

  .custom-theme-1{
    padding: 2px !important;
  }

  .custom-fixed{
    position: relative;
  }
}
@media screen and (max-width: 667px){
  .custom-image-title{
    opacity: 1;
  }
  .flex-container{
    justify-content: center;
    align-items: center;
  }

  .gallery{height:250px;}
  .gallery-image{
    height: 250px;
  }

  .gallery-description{
    opacity: .7;
  }
}
@media screen and (max-width: 450px){
  .custom-background{
    background: #9b9b9b;
    background-attachment: fixed;
    min-height: 80vh;
  }

  .degradation-image{
    height: auto;
    width: 95vw;
  }

  .custom-text{
    font-size: 18px !important;
  }
}
